{% extends "base.html" %}

{% block content %}
   <!-- create card for each dive form card using bootstrap -->
   <div>
      <h2 class="site-card">{{ site.site_name }}</h2>
      <p class="message">Unlock more of reviews (per location) made by your fellow gleaners by adding a Dive Review Card.</p>
      <p class="redirect-login">Go back to my <a class="redirect-login" href="{{ url_for('dive_cards', user_id=current_user.user_id) }}">Dive Cards.</a></p>
              
      
      <div class="row row-cols-1 row-cols-md-3">
      {% for dive in site_dives %}

         <div class="col mb-4">
            <div class="card h-100">
            <div class="card-body">
           <h5 class="card-title">{{ dive.site.site_name }}</h5>
           <h6 class="card-subtitle mb-2 text-muted"><small>{{ dive.site.address }}</small></h6>
           <p class="card-text">{{ dive.items }}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Rating: {{ dive.rating }}</li>
            <li class="list-group-item">Safety: {{ dive.safety }}</li>
            <li class="list-group-item">Dive Time: {{ dive.dive_time.strftime('%H:%M') }}</li>
            <li class="list-group-item">Created by: <strong>{{ dive.user.user_name }}</strong></li>
            </ul>         
                     
         </div>
       </div>
      {% endfor %}
      </div>
</div>
{% endblock content %}