{% extends "base.html" %}


{% block script %}
<script src="/static/js/googMaps.js"></script>

{% endblock %}

{% block content %}
<h1>Let's get gleaning.</h1>
<h2>It's a dive, so save the dive!</h2>

<div class="text-muted">
	<p>Start saving your dives!
		<a class="redirect-login" href="{{ url_for('login') }}">login.</a>
	</p>
	<p><small>Don't have an account? Register  
		<a class="redirect-login" href="{{ url_for('register') }}">here.</a>
	</small></p>
</div>

<!--The div element for the map -->
<div id="map"></div>

<div class="text-muted">
	<p class="acknowledgement"><small>Primary data was provided by <a class="freegan-link" href="https://freegan.info/">freegan.info</a>.</small></p>
	<p class="care-notes">Plase respect the <strong>CARDINAL RULE</strong> of trashpicking — don’t make a mess! Open bags carefully and reclose them. Make it look like you were never there, so the place you are recovering waste from won’t chase away foragers in the future! Also, keep note of all local and municipal laws regarding dumpster diving for your safety.</p>
</div>

</div>	

<!-- <script
	async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ2sdOS6MD6Z4gB_cw40jz0qhy8e1qkDo&callback=initMap">
</script> -->
{% endblock %}

