{% extends "base.html" %}

{% block content %}

<div class="container login">
	<br>
	<br>
	<h1 id="login-header">Login</h1>
	<h5 id="login-sub-header">Welcome back gleaner!</h5> 
	<br>
	<br>


<form action="" method="POST"> <!--action="" will send to the same route-->
	{{ form.hidden_tag() }} <!--hidden_tag() method adds a CSRF token-->		
	
	<!--Username input-->		
	<div class="form-row">
		<div class="form-group col-md-4"></div>		
		<div class="form-group col-md-4">
		{{ form.user_name.label(class="form-control-label") }}	
		{% if form.user_name.errors %}
			{{ form.user_name(class="form-control form-control-md is-invalid") }}
		<div class="input-error">
			{% for error in form.user_name.errors %}
			<span class="error-message" style="color:red; font-size: small">
			{{ error }}
			</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.user_name(class="form-control form-control-md") }}
		{% endif %}
		</div>
	<div class="form-group col-md-4"></div>	
	</div>

	<!--Password input-->
	<div class="form-row">
		<div class="form-group col-md-4"></div>		
		<div class="form-group col-md-4">
		{{ form.password.label(class="form-control-label") }}	
		{% if form.password.errors %}
			{{ form.password(class="form-control form-control-md is-invalid") }}
		<div class="input-error">
			{% for error in form.password.errors %}
			<span class="error-message" style="color:red; font-size: small">
			{{ error }}
			</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.password(class="form-control form-control-md") }}
		{% endif %}
		</div>
	<div class="form-group col-md-4"></div>	
	</div>
	<!-- Remember me checkbox -->
	<div class="form-row">
		<div class="form-group col-md-4"></div>		
		<div class="form-check col-md-4">
		<small>
		{{ form.remember(class="form-check-input") }}
		{{ form. remember.label (class="form-check-label") }}
		</small>		
		<br>
		<br>
		<!--Submit button-->		
		<div class="form-group">
			{{ form.submit(class="btn btn-dark btn-sm") }}
		</div>
		<!-- Register redirect -->	
		<p class="text-muted"><small>Don't have an account? Register  
			<a class="redirect-login" href="{{ url_for('register') }}">here.</a>
		</small></p>
	</div>
	<div class="form-group col-md-4"></div>	
	</div>

</form>
</div>

{% endblock %}