{% extends "base.html" %}

{% block content %}
   <!-- create card for each dive using bootstrap -->
   <div>
		<h2 class="profile-header">{{ current_user.user_name }}</h2>
		<p class="profile-email">{{ current_user.email }}</p>
		
		<!-- <h4>Here's a personal map of your dives.</h4>
		<p> Want to return to the full dive map? 
			<a class="nav-item nav-link" href="{{ url_for('home') }}">Click Here.</a></p>

		<div id="map"></div> -->
		

		<div class="row row-cols-1 row-cols-md-3">
		{% for dive in dives[::-1] %}

		<div class="col mb-4">
			<div class="card h-100">
			<div class="card-body">
			<h5 class="card-title">{{ dive.site.site_name }}</h5>
			<h6 class="card-subtitle mb-2 text-muted"><small>{{ dive.site.address }}</small></h6>
			<p class="card-text">{{ dive.items }}</p>
			</div>
			<ul class="list-group list-group-flush">
			<li class="list-group-item">Rating: {{ dive.rating }}</li>
			<li class="list-group-item">Safety: {{ dive.safety }}</li>
			<li class="list-group-item"><a href="{{ url_for('get_site_cards', site_id=dive.site.site_id) }}" class="card-link">Check out more dives for this site!</a></li>
			<!-- <li class="list-group-item"><a href="/site-cards/{{ dive.site.site_id }}" class="card-link">Check out more dives for this site!</a></li> -->
			</ul>         
								
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	<script
	async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ2sdOS6MD6Z4gB_cw40jz0qhy8e1qkDo&callback=initMapUser">
</script>
{% endblock content %}